# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
env/
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Coverage reports
coverage/
*.lcov

# IDE/editor settings
.vscode/
.idea/
*.swp

# Optional: ignore test results
test-results/

extract.py
file.xlsx